{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card border-primary" style="width: 50%;">
        <div class="card-body">
            <h5 class="card-title text-center">Create/Update Review</h5>
            <form action="" method='POST' class="row g-3">
                {{ form.hidden_tag() }}
                <div class="col-12">
                    {{ form.movie_title.label }}
                    {{ form.movie_title(class='form-control mt-2', placeholder='Enter Movie Title') }}
                </div>
                <div class="col-12">
                    {{ form.review_text.label }}
                    {{ form.review_text(class='form-control mt-2', placeholder='Write your review here') }}
                </div>
                <div class="col-12">
                    {{ form.rating.label }}
                    {{ form.rating(class='form-control mt-2', placeholder='Rate from 0 to 10') }}
                </div>
                <div class="col-12">
                    {{ form.reviewer_name.label }}
                    {{ form.reviewer_name(class='form-control mt-2', placeholder='Your Name') }}
                </div>
                <div class="col-12 d-flex justify-content-center">
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
